# =====================================
# PYTHON
# =====================================

Backend/venv/
Backend/__pycache__/
*.pyc

# =====================================
# DEPENDENCIES & BUILD OUTPUT
# =====================================

node_modules/
dist/
dist-ssr/
.vite/

# =====================================
# ENVIRONMENT VARIABLES
# =====================================

.env
.env.local
.env.*.local
*.local

# =====================================
# LOGS & DEBUG
# =====================================

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================================
# EDITOR & OS FILES
# =====================================

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.swp
*.suo
*.ntvs*